@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* TITULOS */

.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    text-align: center;
    padding: 25px 0px 10px 0px;
}

.subtitulo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

/* CARDS */

.cardfrontend{
    background-image: url(../img/img_frontend.png);
    text-align: right;
}

.cardbackend{
    background-image: url(../img/img_backend.png);
}

.cardmobile{  
    background-image: url(../img/img_mobile.png);
    text-align: right;
}

.carddba{
    background-image: url(../img/img_dba.png);
}

.cardgames{
    background-image: url(../img/img_games.png);
    text-align: right;
}

div .cardfrontend, .cardbackend, .cardmobile, .carddba, .cardgames{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-size: 100%;
    margin: 20px;
    border-radius: 15px;
    color: #c9bfbf;
    text-shadow: 1px 1px #000000fb;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}






