.titulofrontend{
    background-image: url("../img/img_frontend.png");
}

.titulomobile{
    background-image: url("../img/img_mobile.png");
}

.titulobackend{
    background-image: url("../img/img_backend.png");
}

.titulodba{
    background-image: url("../img/img_dba.png");
}

.titulogames{
    background-image: url("../img/img_games.png");
}

div .titulofrontend, .titulomobile, .titulobackend, .titulodba, .titulogames{
    background-attachment: fixed;
    background-size: cover;
    padding: 10%;
    text-align: center;
    border-radius: 15px;
    color: #c9bfbf;
    text-shadow: 1px 1px #000000fb;
}

.titulocomimagem{
    text-align: center;
    margin: 20px;
}

div p{
    text-align: justify;
    margin-bottom: 15px;
}

.tamanhoimg{
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.imgmobile{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.imgdba{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.submenu li{
    list-style-type: none;
    display: inline;
    margin: 0px 55px 0px 0px;
    font-size: 25px;
    font-weight: lighter;
}
