@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.titulofrontend{
    background-image: url("../img/img_frontend.png");
}

.titulomobile{
    background-image: url("../img/img_mobile.png");
}

.titulobackend{
    background-image: url("../img/img_backend.png");
}

.titulodba{
    background-image: url("../img/img_dba.png");
}

.titulogames{
    background-image: url("../img/img_games.png");
}

div .titulofrontend, .titulomobile, .titulobackend, .titulodba, .titulogames{
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    padding: 10%;
    text-align: center;
    border-radius: 15px;
    color: #c9bfbf;
    text-shadow: 3px 3px #000000fb;
}

.titulocomimagem{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px;
    text-shadow: 3px 3px black;    
}

div p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-bottom: 15px;
}

.tamanhoimg{
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px 3px rgba(0,0,0));
}

.imgmobile{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.imgdba{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.submenu li{
    list-style-type: none;
    display: inline;
    margin: 0px 55px 0px 0px;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    color: aquamarine;
}
